@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
